.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.main-content-bg {
  flex: 1;
  overflow-y: auto;
  background-color: var(--app-bg);
  padding: 0;
  transition: background-color 0.3s ease;

  .layout-content {
    padding: 1rem;
  }

  &.no-padding-top {
    .layout-content {
      padding-top: 0;
    }
  }
}
