<div class="dialog-container">
  <div class="header">
    <button
      type="button"
      mat-icon-button
      aria-label="splitTypeDialog.close"
      (click)="closeDialog()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ 'splitTypeDialog.title' | translate }}</h2>
  </div>

  <mat-nav-list>
    @for (option of options; track option) {
      <mat-list-item (click)="choose(option)">
        <span class="option-name">{{ option }}</span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
