:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100dvh;
  background-color: var(--app-bg);
  overflow: hidden;
  padding-top: 2rem;
}

.login-container {
  width: 85%;
  max-width: 400px;
  overflow: hidden;
  position: relative;

  .logo {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
    transition: opacity 0.3s ease;
  }

  .logo-dark {
    display: none;
  }
  .logo-light {
    display: block;
  }

  :host-context(.dark-theme) {
    .logo-dark {
      display: block;
    }

    .logo-light {
      display: none;
    }
  }

  .login-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    mat-form-field {
      width: 100%;
    }
  }

  .register-link {
    text-align: center;
    font-size: 0.875rem;
    color: var(--app-muted);
  }

  .login-register {
    color: var(--app-text);

    &:hover {
      color: var(--app-primary);
    }
  }

  .error-message {
    color: var(--app-error);
    font-size: 14px;
    text-align: center;
  }

  .spinner {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
}

:host-context(.dark-theme) .login-form {
  input,
  mat-label,
  .mat-mdc-form-field-infix {
    color: var(--app-text) !important;
    caret-color: var(--app-text);
  }

  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-flex {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-outline {
    color: var(--app-text) !important;
    border-color: var(--app-text) !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    color: #ccc;
  }

  mat-error {
    color: var(--app-error);
  }
}

:host-context(.dark-theme) {
  .form-field-dark {
    ::ng-deep .mdc-notched-outline__leading,
    ::ng-deep .mdc-notched-outline__notch,
    ::ng-deep .mdc-notched-outline__trailing {
      border-color: var(--app-text) !important;
      border-width: 1px !important;
    }
  }
}

::ng-deep .mat-mdc-text-field-wrapper {
  will-change: unset !important;
}

::ng-deep .mdc-text-field {
  will-change: opacity, transform, color !important;
}
