<div class="login-container">
  <img class="logo logo-light" src="/assets/spendly-dark.png" alt="Logo claro" />
  <img class="logo logo-dark" src="/assets/spendly-light.png" alt="Logo oscuro" />

  <h1 class="login-title">{{ title }}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
    <!-- Email -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field-dark">
      <mat-label>{{ emailLabel }}</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (getError('email')) {
        <mat-error>{{ getError('email') }}</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field-dark">
      <mat-label>{{ passwordLabel }}</mat-label>
      <input matInput [type]="inputPasswordType" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="togglePasswordVisibilityLabel"
        [attr.aria-pressed]="showPassword()"
      >
        <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (getError('password')) {
        <mat-error>{{ getError('password') }}</mat-error>
      }
    </mat-form-field>

    <!-- Submit -->
    <app-exp-button-spinner type="submit" [isLoading]="isLoading()">
      {{ button }}
    </app-exp-button-spinner>

    <!-- Todo: Uncomment if Google login is needed -->
    <!-- <button
        mat-stroked-button
        color="primary"
        class="full-width google-login-btn"
        (click)="onGoogleLogin()"
        type="button"
        [attr.aria-label]="'login.googleSignIn' | translate"
      >
        <img
          src="https://developers.google.com/identity/images/g-logo.png"
          alt="Google logo"
          class="google-icon"
        />
        {{ 'login.googleSignIn' | translate }}
      </button> -->
    <p class="register-link">
      {{ noAccount }}
      <a class="login-register" routerLink="/register">{{ registerHere }}</a>
    </p>
  </form>
</div>
