@use '@angular/material' as mat;
@use 'sass:map';

$primary: mat.m2-define-palette(mat.$m2-teal-palette);
$accent: mat.m2-define-palette(mat.$m2-blue-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

:root {
  --app-primary: #{map.get($primary, 500)};
  --app-accent: #{map.get($accent, 500)};
  --app-warn: #{map.get($warn, 500)};
}

.app-snackbar {
  background-color: var(--app-primary);
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: var(--app-radius);
  box-shadow: var(--app-shadow);
}
