<div class="register-container">
  <button
    type="button"
    mat-icon-button
    aria-label="register.back"
    class="register-back"
    (click)="goBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1 class="register-title">{{ 'register.title' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <!-- Name -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field-dark">
      <mat-label>{{ 'register.nameLabel' | translate }}</mat-label>
      <input matInput formControlName="name" />
      @if (getError('name')) {
        <mat-error>{{ getError('name') }}</mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field-dark">
      <mat-label>{{ 'register.emailLabel' | translate }}</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (getError('email')) {
        <mat-error>{{ getError('email') }}</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field-dark">
      <mat-label>{{ 'register.passwordLabel' | translate }}</mat-label>
      <input matInput [type]="showPassword() ? 'text' : 'password'" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'register.togglePasswordVisibility' | translate"
        [attr.aria-pressed]="showPassword()"
      >
        <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (getError('password')) {
        <mat-error>{{ getError('password') }}</mat-error>
      }
    </mat-form-field>

    <app-exp-button type="submit" color="primary" [disabled]="isLoading()" [fullWidth]="true">
      @if (isLoading()) {
        <mat-progress-spinner
          mode="indeterminate"
          diameter="20"
          color="accent"
          class="spinner"
        ></mat-progress-spinner>
      } @else {
        {{ 'register.registerButton' | translate }}
      }
    </app-exp-button>
  </form>
</div>
