<div class="account-container">
  <div class="account-panel">
    <div class="account-header">
      <div class="account-avatar">
        <img src="/assets/spendly.png" alt="Avatar" />
      </div>

      <div class="account-header-info">
        <div class="account-name">{{ auth.currentUser()?.name || 'Your Name' }}</div>
        <div class="account-email">{{ auth.currentUser()?.email }}</div>
      </div>
    </div>

    <mat-divider class="account-divider"></mat-divider>

    <button (click)="toggleLang()" class="logout-button" aria-label="Change language">
      {{ currentLang === 'en' ? 'ES' : 'EN' }}
    </button>

    <theme-toggle></theme-toggle>

    <div class="pwa-button">
      <app-pwa-install-button />
    </div>

    <div class="account-list">
      <button class="logout-button" (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
        <span>{{ 'account.logout' | translate }}</span>
      </button>
    </div>
  </div>
</div>
