.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  background: white;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-content-bg {
  background-color: #e0e0e0;
  min-height: 100vh;
  padding: 1rem;
}
