@use './theme/custom-theme' as *;
@use './theme/app-variables';
@use './theme/app-variables-dark';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--app-bg);
  overflow-x: hidden;
  width: 100%;
  overflow: hidden;
}

#splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app-bg);
  color: var(--app-text);
  font-size: 1.25rem;
  font-weight: 400;
  gap: 1rem;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    opacity: 0.8;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
  }
}
