<div class="dialog-container">
  <app-header
    [title]="'currencySelector.title' | translate"
    [showBack]="true"
    (back)="closeDialog()"
  ></app-header>

  <mat-nav-list>
    @for (currency of currencies; track currency) {
      <mat-list-item
        (click)="chooseCurrency(currency)"
        [class.selected]="selectedCurrency() === currency"
      >
        <span class="currency-code">{{ currency }}</span>
        <span class="currency-desc">
          {{ 'currencySelector.currencies.' + currency | translate }}
        </span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
