@use '../../../../shared/styles/dialog-common.scss';

.currency-selector-container {
  @extend .dialog-container;
}

.currency-code {
  font-weight: 600;
  margin-right: 10px;
}

.currency-desc {
  font-size: 0.9rem;
  color: #666;
}

