<div class="dialog-container">
  <div class="header">
    <button
      type="button"
      mat-icon-button
      aria-label="currencySelector.close"
      (click)="closeDialog()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ 'currencySelector.title' | translate }}</h2>
  </div>

  <mat-nav-list>
    @for (currency of currencies; track currency) {
      <mat-list-item
        (click)="chooseCurrency(currency)"
        [class.selected]="selectedCurrency === currency"
      >
        <span class="currency-code">{{ currency }}</span>
        <span class="currency-desc">{{
          'currencySelector.currencies.' + currency | translate
        }}</span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
