<div class="dialog-container">
  <div class="header">
    <button
      mat-icon-button
      [attr.aria-label]="'categorySelector.close' | translate"
      (click)="closeDialog()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h2>{{ 'categorySelector.title' | translate }}</h2>
  </div>

  <mat-nav-list>
    @for (category of categories(); track category.key) {
      <mat-list-item
        (click)="chooseCategory(category.key)"
        [class.selected]="selectedCategory() === category.key"
      >
        <span class="option-name">{{ 'expenseCategories.' + category.key | translate }}</span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
