<div class="dialog-container">
  <app-header
    [title]="'categorySelector.title' | translate"
    [showBack]="true"
    (back)="closeDialog()"
  ></app-header>

  <mat-nav-list>
    @for (category of categories(); track category.key) {
      <mat-list-item
        (click)="chooseCategory(category.key)"
        [class.selected]="selectedCategory() === category.key"
      >
        <span class="option-name">
          {{ 'expenseCategories.' + category.key | translate }}
        </span>
      </mat-list-item>
    }
  </mat-nav-list>
</div>
